@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('fonts/trebuc.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('fonts/Trebuchet-MS-Italic.woff') format('woff');
    }
    @font-face {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: normal;
        src: local('Helvetica'), url('fonts/Helvetica.woff') format('woff');
        }
        @font-face {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: normal;
            src: local('Helvetica'), url('fonts/Helvetica-Bold.woff') format('woff');
            }
            @font-face {
                font-family: 'Arial Regular';
                font-style: normal;
                font-weight: normal;
                src: local('Arial Regular'), url('fonts/ARIAL.woff') format('woff');
                }
                @font-face {
                    font-family: 'Roboto Condensed Bold';
                    font-style: normal;
                    font-weight: normal;
                    src: local('Roboto Condensed Bold'), url('fonts/RobotoCondensed-Bold.woff') format('woff');
                    }
                    @font-face {
                        font-family: 'Roboto Condensed Regular';
                        font-style: normal;
                        font-weight: normal;
                        src: local('Roboto Condensed Regular'), url('fonts/RobotoCondensed-Regular.woff') format('woff');
                        }
                        @font-face {
                            font-family: 'Roboto Condensed Light';
                            font-style: normal;
                            font-weight: normal;
                            src: local('Roboto Condensed Light'), url('fonts/RobotoCondensed-Light.woff') format('woff');
                            }
                            @font-face {
                                font-family: 'Roboto Regular';
                                font-style: normal;
                                font-weight: normal;
                                src: local('Roboto Regular'), url('fonts/Roboto-Regular.woff') format('woff');
                                }
                               @font-face {
                                    font-family: 'Roboto Bold';
                                    font-style: normal;
                                    font-weight: normal;
                                    src: local('Roboto Bold'), url('fonts/Roboto-Bold.woff') format('woff');
                                    }
body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.box{
    padding-left: 10vw;
    padding-right: 10vw;
}
header{
    background-color: #202020;
    color: #fff;
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 12px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}
.primary_navbar{
    display: flex;
    background-color: #202020;
    justify-content: space-between;
    border-bottom: 1px solid #393939;
}
.top{
    box-sizing: border-box;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    height: 52px;
    width: 187px;
    
}
.marvel_logo{
    width: 133px;
    height: 52px;
    background-image: url(icons/Marvel\ icon.PNG);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}
.marvel_logo:hover{
    width: 48px;
    height: 51.8px;
    background-image: url(icons/M.PNG);
    background-size: cover;
    background-position: center;
}
.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe img{
    width: 20px;
    height: 20px;
}
.sub_text span{
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sub_text p{
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sub_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sign_in{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.secondary_navbar{
    display: flex;
    justify-content: center;

}
.secondary_navbar_label{
    padding-bottom: 7px;
    cursor: pointer;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.secondary_navbar_label:hover{
    color: #fff;
    border-bottom: 2px solid #e62429;
    padding-bottom: 5px;
}
.space_secondary{
    padding-left: 2vw;
}
#space_second{
    padding-left: 1vw;
}
.second_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font: 400 16px/1 Roboto Condensed Regular;
    color: #fff;
    background-color: #151515;
    padding-top: 99px;
    overflow-x: hidden;

}
.second_nav p{
    margin-top: 11px;
    margin-bottom: 11px;
    cursor: default;
}
.promo_logo img{
    width: 28px;
}
.container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 62vh;
    background: #151515;
    clip-path: polygon(0 0,0 100%,100% 92%,100% 0);
}
.container .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 93%;
    animation: animate 10s linear infinite;
}
.container .slider .slide{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;

}
.container .slider .slide .caption{
    position: absolute;
    bottom: 110px;
    left: 137px;
    right: 60px;
    padding: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
.container .slider .slide .caption h2{
    cursor: default;
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-family: 'Roboto Condensed Bold';
    font-size: 44px;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.5s;
}
.container .slider .slide .caption p{
    margin: 0;
    cursor: default;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 20px;
    font-family: 'Roboto regular';
    letter-spacing: .5px;
    transition: 0.5s;
}
.shan_bu{
    display: flex;
}
.container .slider .slide .caption button{
    font-size: 14px;
  border:none;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  font-family: 'Roboto Bold', serif;
  
  /* Fallback */
  background: #e62429;
  
  /* Cut the corner */
  background: linear-gradient(-45deg, transparent 7px, #e62429 7px);
  transition: 2s;
}
.container .slider .slide .caption button:hover{
    background: linear-gradient(-45deg, transparent 7px, #db1016 7px);
    cursor: pointer;
    
}
.pic_black button:hover{
    background: linear-gradient(-45deg, transparent 7px, #db1016 7px);
    cursor: pointer;
    transition: 2s;
}
.container .slider .slide.slide1{
    background: url(Resources/banner1_ff_0914_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide2{
    background: url(Resources/banner2_shangchi_lob_com_mas_dsk_05.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide3{
    background: url(Resources/banner3_whatif_0915_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide4{
    background: url(Resources/banner4_wastelanders_0914_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide5{
    background: url(Resources/banner5_muplus_0913_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide6{
    background: url(Resources/banner1_ff_0914_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}

/* .tab_cont .tabs__container{
    position: relative;
    top: 17px;
    margin: -17px 0 0;
    padding: 0 0 17px;
    width: 100%;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto regular';
    letter-spacing: .5px;
} */
.tabs{
    margin-top: -80px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    
}
.tabs p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto Bold';
    text-transform: capitalize;
    letter-spacing: .5px;
    color: #151515;
    cursor: pointer;
}
.tabs p:hover{
    color: #db1016;
}
.space_sec{
    padding-left: 2vw;
}
.tabs_cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.pic_container{
    width: 100%;
    height: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.white_space{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding-top: 3.5vh;    
}
.cont{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 62vh;
    clip-path: polygon(0 0,0 100%,100% 92%,100% 0);
}
.mulogo{
    background-image:
    linear-gradient(70deg,
    rgba(21, 21, 21)50%, 
    transparent 50%), 
    url(Resources/muplus_0913_com_mas.jpg);
   background-size: 100% 100%;
}
.mulogo img{
    width: 7vw;
}
.pic_container .cont .caption{
    position: absolute;
    bottom: 53px;
    left: 137px;
    right: 60px;
    padding: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
.pic_container .cont .caption p{
    margin: 0;
    cursor: default;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0 20px;
    font-family: 'Roboto regular';
    letter-spacing: .5px;
    transition: 0.5s;
}
.pic_container .cont .caption button{
    font-size: 14px;
  border:none;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  font-family: 'Roboto Bold', serif;
  border:solid 1px #fff;
  border-color: linear-gradient(-45deg, transparent 7px, #fff 7px);
  background-color: transparent;
}
.pic_container .cont .caption button:hover{
    background: linear-gradient(-45deg, transparent 7px, #db1016 7px);
    cursor: pointer;
    border: none;
}
.tabs .tabs_cont img{
    width: 236px;
    padding-top: 24px;
}
.tabs .tabs_cont h5{
    margin-top: 10px;
    margin-bottom: 8px;
    color: #999;
    font-family: Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.s_tab{
    margin-top: -75px;
}
.s_white{
    margin-bottom: 30vh;
}
.hover_p p{
    cursor: pointer;
}
.hover_p p:hover{
    color: #db1016;
}
.sp_hover img{
    
    transition:0.5s ;
}
.sp_hover img:hover{
    margin-top: -6px;
    box-shadow: 0px 2px 0px 0px rgb(0 0 0 / 30%);
}
.shangchi{
    background-image:
    linear-gradient(70deg,
    rgba(21, 21, 21)50%, 
    transparent 50%), 
    url(Resources/shangchi_base_set_dsk.jpg);
    background-size: 100% 100%;
    background-size: contain;
    background-position-x: right;
}
.comics{
    background-image:
    linear-gradient(70deg,
    rgba(21, 21, 21)50%, 
    transparent 50%), 
    url(Resources/infinitycomics_base_set_dsk_02.jpg);
    background-size: 100% 100%;
    background-size: contain;
    background-position-x: right;

}
.pic_container .comics .caption img{
    width: 32vw;
    height: 13vh;
}
.unlimited{
    background-image:
    linear-gradient(70deg,
    rgba(21, 21, 21)50%, 
    transparent 50%), 
    url(Resources/newtomu_base_set_dsk_relaunch.jpg);
    background-size: 100% 100%;
    background-size: contain;
    background-position-x: right;
}
.u_logo{
    display: flex;
    flex-direction: column;
}
.pic_container .cont .caption h2{
    cursor: default;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto Condensed Bold';
    font-size: 44px;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.5s;
}
.tabs .com p{
    margin-top: 15px;
    margin-bottom: 0;
}
.com_white{
    margin-bottom: 43vh;
}
.tabs .com h5{
    margin-top:8px ;
}
.tabs .com img{
    box-shadow: 0px 2px 0px 0px rgb(0 0 0 / 30%);
}
.tabs .com img:hover{
    margin-top: -6px;
    transition: 0.5s;
}
.tabs .com img{
    width: 140px;
    padding-top: 24px;
}
.com_tag{
    display: flex;
    max-width: 68%;
    margin-top: -75px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    height: 3px;
    background: rgb(172, 169, 169);
}
::-webkit-scrollbar-track{
    /* border: 2px solid rgb(219, 216, 216); */
    /* box-shadow: inset 0 0 2.5px rgb(219, 216, 216); */
    /* border-radius: 50px; */
}
::-webkit-scrollbar-thumb{
    width: 10%;
    background-color: #db1016;
    box-shadow: inset 0 0 .5px #db1016;
    border-radius: 50px;
}
.blank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding-top: .5vh;
}
.latest{
    max-width: 68%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    left: 14vw;
}
.latest_cont{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    padding-bottom: 28px;
    padding-top: 28px;
    border-bottom: 1px solid #a49d9d;
}
.latest_text{
    padding-left: 3vw;
}
.latest .latest_cont .latest_text h4{
    margin-top: 10px;
    margin-bottom: 8px;
    color: #999;
    font-family: Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: default;
}
.latest .latest_cont img{
    width: 25vw;
    /* height: 15vhvh; */
}
.latest .latest_cont .latest_text p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto Bold';
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #151515;
    cursor: pointer;
}
.newcom{
    background-image:
    linear-gradient(70deg,
    rgba(21, 21, 21)50%, 
    transparent 50%), 
    url(Resources/new_com_20210916_set_01.jpg);
    background-size: contain;
    background-position-x: right;
}
.footerdiv{
    display: flex;
    background-color: #000;
    height: 41vh;
}
.picdiv{
    display: flex;
    width: 50%;
}
.pic_black{
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.pic{
    background-image: url(icons/Insider\ maevel.PNG);
    background-size: 100% 100%;
    width: 50vw;
}
.blackdiv{
    background-color: #000;
    width: 30%;
}
.pic_black h4{
    color: #db1016;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: .5s;
    font-family: "Roboto Condensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.pic_black h4:hover{
    transform: scale(1.04);
}
.pic_black h1{
    cursor: default;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto Condensed Bold';
    font-size: 44px;
    line-height: 1;
    transition: 0.5s;
}
.pic_black p{
    margin: 0;
    cursor: default;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0 20px;
    font-family: 'Roboto regular';
    letter-spacing: .5px;
    transition: 0.5s;
}
.pic_black button{
    font-size: 14px;
    border: none;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    font-family: 'Roboto Bold', serif;
    background: #e62429;
    background: linear-gradient(
    -45deg, transparent 7px, #e62429 7px);
}
.caption_footer{
    display: flex;
    bottom: 53px;
    left: 137px;
    right: 60px;
    padding: 30px;
    box-sizing: border-box;
    transition: 0.5s;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
footer{
    display: flex;
    background-color: #151515;
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
}
.footer_logo img{
    width: 10vh;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s;
}
.footer_logo img:hover{
transform: scale(1.03);
}
footer p{
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Roboto Condensed Regular",Trebuchet MS,Helvetica,Arial,sans-serif;
    color: #fff;
    transition: 0.3s;
}
footer p:hover{
    transform: scale(1.02);
}
.f_log{
    display: flex;
    flex-direction: row;
    width: 53px;
    height: 8px;
    align-items: center;
    flex-wrap: wrap;
}
footer h2{
    margin-bottom: 1px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
footer h2:hover{
    transform: scale(1.02);
}
.follow h2{
    margin-bottom: 1px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 3px;
    cursor: pointer;
    font-family: Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
footer h4{
    cursor: default;
    padding: 0;
    color: #b1adad;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto regular';
    letter-spacing: .5px;
}
@keyframes animate{
    0%{
        left:0;
    }
    5%{
        left:0;
    }
    10%{
        left:0;
    }
    15%{
        left:0;
    }
    20%{
        left:-100%;
    }
    25%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    35%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    45%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-200%;
    }
    60%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    70%{
        left:-300%;
    }
    75%{
        left:-300%;
    }
    80%{
        left:-400%;
    }
    85%{
        left:-400%;
    }
    90%{
        left:-400%;
    }
    95%{
        left:-400%;
    }
    100%{
        left:-400%;
    }
}
@media (max-width:768px){
    .container .slider .slide .caption{
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }
    .container .slider .slide .caption h2{
        margin: 0 0 10px;
        font-size: 20px;
    }
    .container .slider .slide .caption p{
        font-size: 12px;
    }
    .s_white{
        margin-bottom: 0vh;
    }
    .pic_container .cont .caption h2{
        font-size: 20px;
    }
    .pic_black h1{
        font-size: 20px;
    }
    .pic_container .cont .caption p {
        font-size: 12px;
    }
    .pic_container .cont .caption button {
        font-size: 10px;
    }
    header{
        font-size: 10px
    }
    .second_nav p {
        margin-top: 0px;
        margin-bottom: 7px;
    }
    .second_nav{
        font-size: 10px;
    }
    .promo_logo img {
        width: 15px;
    }
    .box {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .container .slider .slide .caption button {
        font-size: 10px;
    }
    .tabs p {
        font-size: 12px;
    }
    .latest .latest_cont .latest_text p {
        font-size: 14px;
    }
    .latest .latest_cont .latest_text h4{
        font-size: 10px
    }
    .tabs .tabs_cont h5{
        font-size: 10px
    }
    .white_space{
        padding-bottom: 79px;
    }
    .tabs .tabs_cont img {
        width: 150px;
    }
    .tabs p {
        font-size: 12px;
    }
    .tabs .tabs_cont h5 {
        font-size: 12px;
    }
    .s_white{
        padding-bottom: 380px;
    }
    .com_tag {
        max-width: 100%;
    }
    .f_log img{
        width: 45px;
    }
    footer h2 {
        font-size: 8px;
        letter-spacing: 1px;
    }
    footer p{
        font-size: 10px;
        letter-spacing: 0;
    }
    .footer_logo img {
        width: 63px;
    }
    footer h4{
        font-size: 9px;
    }
    .follow h2{
        font-size: 10px;
    }
    .secondary_navbar_label{
        font-size: 10px;
    }
    .latest{
        left: 0%;
    }
    body{
        overflow-x: hidden;
    }
}