@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('fonts/trebuc.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('fonts/Trebuchet-MS-Italic.woff') format('woff');
    }
    @font-face {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: normal;
        src: local('Helvetica'), url('fonts/Helvetica.woff') format('woff');
        }
        @font-face {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: normal;
            src: local('Helvetica'), url('fonts/Helvetica-Bold.woff') format('woff');
            }
            @font-face {
                font-family: 'Arial Regular';
                font-style: normal;
                font-weight: normal;
                src: local('Arial Regular'), url('fonts/ARIAL.woff') format('woff');
                }
                @font-face {
                    font-family: 'Roboto Condensed Bold';
                    font-style: normal;
                    font-weight: normal;
                    src: local('Roboto Condensed Bold'), url('fonts/RobotoCondensed-Bold.woff') format('woff');
                    }
                    @font-face {
                        font-family: 'Roboto Condensed Regular';
                        font-style: normal;
                        font-weight: normal;
                        src: local('Roboto Condensed Regular'), url('fonts/RobotoCondensed-Regular.woff') format('woff');
                        }
                        @font-face {
                            font-family: 'Roboto Condensed Light';
                            font-style: normal;
                            font-weight: normal;
                            src: local('Roboto Condensed Light'), url('fonts/RobotoCondensed-Light.woff') format('woff');
                            }
                            @font-face {
                                font-family: 'Roboto Regular';
                                font-style: normal;
                                font-weight: normal;
                                src: local('Roboto Regular'), url('fonts/Roboto-Regular.woff') format('woff');
                                }
                                @font-face {
                                    font-family: 'Roboto Bold';
                                    font-style: normal;
                                    font-weight: normal;
                                    src: local('Roboto Bold'), url('fonts/Roboto-Bold.woff') format('woff');
                                    }
body{
    margin:0;
    padding: 0;
}
.box{
    padding-left: 150px;
    padding-right: 150px;
}
header{
    background-color: #202020;
    color: #fff;
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.primary_navbar{
    display: flex;
    background-color: #202020;
    justify-content: space-between;
    border-bottom: 1px solid #393939;
}
.top{
    box-sizing: border-box;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    height: 52px;
    width: 187px;
    
}
.marvel_logo{
    box-sizing: border-box;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    height: 52px;
    display: flex;
}
.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe img{
    width: 20px;
    height: 20px;
}
.sub_text span{
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sub_text p{
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sub_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sign_in{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.secondary_navbar{
    display: flex;
    justify-content: center;

}
.secondary_navbar_label{
    padding-bottom: 5px;
    cursor: pointer;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.secondary_navbar_label:hover{
    color: #fff;
    border-bottom: 2px solid #e62429;
    padding-bottom: 3px;
}
.space_secondary{
    padding-left: 8vh;
}
#space_second{
    padding-left: 2vh;
}
.second_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font: 400 16px/1 Roboto Condensed Regular;
    color: #fff;
    background-color: #151515;
    padding-top: 99px;
    overflow-x: hidden;

}
.second_nav p{
    margin-top: 11px;
    margin-bottom: 11px;
    cursor: default;
}
.promo_logo img{
    width: 28px;
}
/* .wrapping_banner{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.wrapping_banner::-webkit-scrollbar{
    display: none;
}
.wrapping_banner > div > img{
    width: 100vw;
    height: 62vh;
    scroll-snap-align: start;
} */
.container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 62vh;
    background: #151515;
    clip-path: polygon(0 0,0 100%,100% 92%,100% 0);
}
.container .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 93%;
    /* float: left; */
    animation: animate 10s linear infinite;
}
.container .slider .slide{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;

}
.container .slider .slide .caption{
    position: absolute;
    bottom: 110px;
    left: 137px;
    right: 60px;
    padding: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
.container .slider .slide .caption h2{
    cursor: default;
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-family: 'Roboto Condensed Bold';
    font-size: 44px;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.5s;
}
.container .slider .slide .caption p{
    margin: 0;
    cursor: default;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 20px;
    font-family: 'Roboto regular';
    letter-spacing: .5px;
    transition: 0.5s;
}
.shan_bu{
    display: flex;
}
.container .slider .slide .caption button{
    font-size: 14px;
  border:none;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  font-family: 'Roboto Bold', serif;
  
  /* Fallback */
  background: #e62429;
  
  /* Cut the corner */
  background: linear-gradient(-45deg, transparent 7px, #e62429 7px);
  /* transition: background 2s ease; */
}
.container .slider .slide .caption button:hover{
    background: linear-gradient(-45deg, transparent 7px, #db1016 7px);
    cursor: pointer;
}

.container .slider .slide.slide1{
    background: url(Resources/banner1_ff_0914_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide2{
    background: url(Resources/banner2_shangchi_lob_com_mas_dsk_05.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide3{
    background: url(Resources/banner3_whatif_0915_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide4{
    background: url(Resources/banner4_wastelanders_0914_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide5{
    background: url(Resources/banner5_muplus_0913_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide6{
    background: url(Resources/banner1_ff_0914_com_mas_dsk_01.jpg);
    background-size: cover;
    background-position: center;
}
@keyframes animate{
    0%{
        left:0;
    }
    5%{
        left:0;
    }
    10%{
        left:0;
    }
    15%{
        left:0;
    }
    20%{
        left:-100%;
    }
    25%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    35%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    45%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-200%;
    }
    60%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    70%{
        left:-300%;
    }
    75%{
        left:-300%;
    }
    80%{
        left:-400%;
    }
    85%{
        left:-400%;
    }
    90%{
        left:-400%;
    }
    95%{
        left:-400%;
    }
    100%{
        left:-400%;
    }
}
@media (max-width:768px){
    .container .slider .slide .caption{
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }
    .container .slider .slide .caption h2{
        margin: 0 0 10px;
        font-size: 20px;
    }
    .container .slider .slide .caption p{
        font-size: 12px;
    }
}
/* .tab_cont .tabs__container{
    position: relative;
    top: 17px;
    margin: -17px 0 0;
    padding: 0 0 17px;
    width: 100%;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto regular';
    letter-spacing: .5px;
} */
.tabs{
    margin-top: -70px;
    position: absolute;
    margin-left: 40vh;
    display: flex;
    padding-right: 100px;
    justify-content: center;
    /* margin-top: -100px; */
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto Bold';
    text-transform: capitalize;
    letter-spacing: .5px;
}
.space_sec{
    padding-left: 4vh;
}
.tabs_cont{
    justify-content: center;
}