@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('fonts/trebuc.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('fonts/Trebuchet-MS-Italic.woff') format('woff');
    }
    @font-face {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: normal;
        src: local('Helvetica'), url('fonts/Helvetica.woff') format('woff');
        }
        @font-face {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: normal;
            src: local('Helvetica'), url('fonts/Helvetica-Bold.woff') format('woff');
            }
            @font-face {
                font-family: 'Arial Regular';
                font-style: normal;
                font-weight: normal;
                src: local('Arial Regular'), url('fonts/ARIAL.woff') format('woff');
                }
                @font-face {
                    font-family: 'Roboto Condensed Bold';
                    font-style: normal;
                    font-weight: normal;
                    src: local('Roboto Condensed Bold'), url('fonts/RobotoCondensed-Bold.woff') format('woff');
                    }
                    @font-face {
                        font-family: 'Roboto Condensed Regular';
                        font-style: normal;
                        font-weight: normal;
                        src: local('Roboto Condensed Regular'), url('fonts/RobotoCondensed-Regular.woff') format('woff');
                        }
                        @font-face {
                            font-family: 'Roboto Condensed Light';
                            font-style: normal;
                            font-weight: normal;
                            src: local('Roboto Condensed Light'), url('fonts/RobotoCondensed-Light.woff') format('woff');
                            }
body{
    margin:0;
    padding: 0;
}
.box{
    padding-left: 150px;
    padding-right: 150px;
}
header{
    background-color: #202020;
    color: #fff;
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.primary_navbar{
    display: flex;
    background-color: #202020;
    justify-content: space-between;
    border-bottom: 1px solid #393939;
}
.top{
    box-sizing: border-box;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    height: 52px;
    width: 187px;
    
}
.marvel_logo{
    box-sizing: border-box;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    height: 52px;
    display: flex;
}
.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe img{
    width: 20px;
    height: 20px;
}
.sub_text span{
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sub_text p{
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sub_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.sign_in{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.secondary_navbar{
    display: flex;
    justify-content: center;

}
.secondary_navbar_label{
    padding-bottom: 5px;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    font-family:  Roboto Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.secondary_navbar_label:hover{
    color: #fff;
    border-bottom: 2px solid #e62429;
    padding-bottom: 3px;
}
.space_secondary{
    padding-left: 8vh;
}
.second_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font: 400 16px/1 Roboto Condensed Regular;
    color: #fff;
    background-color: #151515;

}
.promo_logo img{
    width: 28px;
}